# Ignore node_modules and environment files
frontend/node_modules/
frontend/.env

backend/node_modules/
backend/.env

# Optional Ignored Files/Folders
dist/
build/
.DS_Store       # MacOS
.vscode/        # Editor settings
*.log           # Log files
